:root {
  --white: #fff;
  --black: #000;
  --primary-color: #f07232;
  --grey: #999999;
  --tranparent: rgba(0, 0, 0, 0);
  --header-font: "Cormorant", serif;
  --text-font: "Quicksand", sans-serif;
}
