@import url("../../styleVariables.css");

.container {
  padding: 120px 23px;
  display: flex;
  flex-direction: column;
  gap: 50px;

  & h1 {
    font-size: 32px;
    font-weight: 700;
    text-align: center;
  }
  & address {
    display: flex;
    flex-direction: column;
    align-items: center;
    & p,
    a {
      color: var(--primary-color);
      font-size: 20px;
      font-weight: 700;
      line-height: 150%;
    }
  }

  & .socials {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;

    & li {
      display: flex;
      justify-content: center;

      &:last-child {
        grid-column: span 2;
      }
    }

    & a {
      min-height: 54px;
      max-width: 165px;
      width: 100%;
      font-family: var(--header-font);
      font-size: 24px;
      font-weight: 700;
      text-align: center;
    }
  }
}
